[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = VishakhaRS9
	email = 83124556+VishakhaRS9@users.noreply.github.com
